In [ ]:
%load_ext autoreload
%autoreload 2

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

print("âœ… Todo cargado correctamente")

âœ… Todo cargado correctamente

In [2]:
from ucimlrepo import fetch_ucirepo, list_available_datasets

import pprint

In [ ]:
import os
print(os.getcwd())

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\karen\\ucimlrepo\\student-mat.csv'

In [ ]:
import pandas as pd

# ==========================
# 1. Cargar los datos
# ==========================
df_mat = pd.read_csv("ucimlrepo/student-mat.csv", sep=";")
df_por = pd.read_csv("ucimlrepo/student-por.csv", sep=";")

# 2. Unir ambos datasets
df = pd.concat([df_mat, df_por], ignore_index=True)
# Mostrar las primeras 50 filas
print(df.head(50))

print("Filas totales:", len(df))
print("Columnas disponibles:", list(df.columns))
print(df.head())

# ==========================
# 3. Funciones para tablas de frecuencia
# ==========================
def tabla_frecuencia_categorica(columna):
    """
    Retorna una tabla con frecuencias absolutas y relativas para una variable categÃ³rica.
    """
    tabla = pd.DataFrame({
        "Frecuencia": df[columna].value_counts().sort_index(),
        "Porcentaje": df[columna].value_counts(normalize=True).sort_index() * 100
    })
    return tabla

def tabla_frecuencia_numerica(columna, bins):
    """
    Retorna una tabla con frecuencias absolutas y relativas para una variable numÃ©rica agrupada en intervalos.
    """
    categorias = pd.cut(df[columna], bins=bins)
    tabla = pd.DataFrame({
        "Frecuencia": categorias.value_counts().sort_index(),
        "Porcentaje": categorias.value_counts(normalize=True).sort_index() * 100
    })
    return tabla

# ==========================
# 4. Ejemplos de uso
# ==========================

# Horas de estudio (studytime: categÃ³rica)
tabla_studytime = tabla_frecuencia_categorica("studytime")
print("\nðŸ“Š DistribuciÃ³n de Horas de Estudio:")
print(tabla_studytime)
#Mostrar los primeros 50 valores de la variable studytime
print("\nðŸ”Ž Primeros 50 datos de studytime:")
print(df["studytime"].head(50).to_frame())

# Nota final (G3: numÃ©rica â†’ intervalos de 0 a 20)
tabla_G3 = tabla_frecuencia_numerica("G3", bins=[0,5,10,15,20])
print("\nðŸ“Š DistribuciÃ³n de Notas Finales (G3):")
print(tabla_G3)
# Mostrar los primeros 50 valores de la variable G3 (nota final)
print("\nðŸ”Ž Primeros 50 datos de G3:")
print(df["G3"].head(50).to_frame())

   school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
0      GP   F   18       U     GT3       A     4     4   at_home   teacher
1      GP   F   17       U     GT3       T     1     1   at_home     other
2      GP   F   15       U     LE3       T     1     1   at_home     other
3      GP   F   15       U     GT3       T     4     2    health  services
4      GP   F   16       U     GT3       T     3     3     other     other
5      GP   M   16       U     LE3       T     4     3  services     other
6      GP   M   16       U     LE3       T     2     2     other     other
7      GP   F   17       U     GT3       A     4     4     other   teacher
8      GP   M   15       U     LE3       A     3     2  services     other
9      GP   M   15       U     GT3       T     3     4     other     other
10     GP   F   15       U     GT3       T     4     4   teacher    health
11     GP   F   15       U     GT3       T     2     1  services     other
12     GP   M   15       U     LE3       T     4     4    health  services
13     GP   M   15       U     GT3       T     4     3   teacher     other
14     GP   M   15       U     GT3       A     2     2     other     other
15     GP   F   16       U     GT3       T     4     4    health     other
16     GP   F   16       U     GT3       T     4     4  services  services
17     GP   F   16       U     GT3       T     3     3     other     other
18     GP   M   17       U     GT3       T     3     2  services  services
19     GP   M   16       U     LE3       T     4     3    health     other
20     GP   M   15       U     GT3       T     4     3   teacher     other
21     GP   M   15       U     GT3       T     4     4    health    health
22     GP   M   16       U     LE3       T     4     2   teacher     other
23     GP   M   16       U     LE3       T     2     2     other     other
24     GP   F   15       R     GT3       T     2     4  services    health
25     GP   F   16       U     GT3       T     2     2  services  services
26     GP   M   15       U     GT3       T     2     2     other     other
27     GP   M   15       U     GT3       T     4     2    health  services
28     GP   M   16       U     LE3       A     3     4  services     other
29     GP   M   16       U     GT3       T     4     4   teacher   teacher
30     GP   M   15       U     GT3       T     4     4    health  services
31     GP   M   15       U     GT3       T     4     4  services  services
32     GP   M   15       R     GT3       T     4     3   teacher   at_home
33     GP   M   15       U     LE3       T     3     3     other     other
34     GP   M   16       U     GT3       T     3     2     other     other
35     GP   F   15       U     GT3       T     2     3     other     other
36     GP   M   15       U     LE3       T     4     3   teacher  services
37     GP   M   16       R     GT3       A     4     4     other   teacher
38     GP   F   15       R     GT3       T     3     4  services    health
39     GP   F   15       R     GT3       T     2     2   at_home     other
40     GP   F   16       U     LE3       T     2     2     other     other
41     GP   M   15       U     LE3       T     4     4   teacher     other
42     GP   M   15       U     GT3       T     4     4  services   teacher
43     GP   M   15       U     GT3       T     2     2  services  services
44     GP   F   16       U     LE3       T     2     2     other   at_home
45     GP   F   15       U     LE3       A     4     3     other     other
46     GP   F   16       U     LE3       A     3     3     other  services
47     GP   M   16       U     GT3       T     4     3    health  services
48     GP   M   15       U     GT3       T     4     2   teacher     other
49     GP   F   15       U     GT3       T     4     4  services   teacher

    ... famrel freetime  goout  Dalc  Walc health absences  G1  G2  G3
0   ...      4        3      4     1     1      3        6   5   6   6
1   ...      5        3      3     1     1      3        4   5   5   6
2   ...      4        3      2     2     3      3       10   7   8  10
3   ...      3        2      2     1     1      5        2  15  14  15
4   ...      4        3      2     1     2      5        4   6  10  10
5   ...      5        4      2     1     2      5       10  15  15  15
6   ...      4        4      4     1     1      3        0  12  12  11
7   ...      4        1      4     1     1      1        6   6   5   6
8   ...      4        2      2     1     1      1        0  16  18  19
9   ...      5        5      1     1     1      5        0  14  15  15
10  ...      3        3      3     1     2      2        0  10   8   9
11  ...      5        2      2     1     1      4        4  10  12  12
12  ...      4        3      3     1     3      5        2  14  14  14
13  ...      5        4      3     1     2      3        2  10  10  11
14  ...      4        5      2     1     1      3        0  14  16  16
15  ...      4        4      4     1     2      2        4  14  14  14
16  ...      3        2      3     1     2      2        6  13  14  14
17  ...      5        3      2     1     1      4        4   8  10  10
18  ...      5        5      5     2     4      5       16   6   5   5
19  ...      3        1      3     1     3      5        4   8  10  10
20  ...      4        4      1     1     1      1        0  13  14  15
21  ...      5        4      2     1     1      5        0  12  15  15
22  ...      4        5      1     1     3      5        2  15  15  16
23  ...      5        4      4     2     4      5        0  13  13  12
24  ...      4        3      2     1     1      5        2  10   9   8
25  ...      1        2      2     1     3      5       14   6   9   8
26  ...      4        2      2     1     2      5        2  12  12  11
27  ...      2        2      4     2     4      1        4  15  16  15
28  ...      5        3      3     1     1      5        4  11  11  11
29  ...      4        4      5     5     5      5       16  10  12  11
30  ...      5        4      2     3     4      5        0   9  11  12
31  ...      4        3      1     1     1      5        0  17  16  17
32  ...      4        5      2     1     1      5        0  17  16  16
33  ...      5        3      2     1     1      2        0   8  10  12
34  ...      5        4      3     1     1      5        0  12  14  15
35  ...      3        5      1     1     1      5        0   8   7   6
36  ...      5        4      3     1     1      4        2  15  16  18
37  ...      2        4      3     1     1      5        7  15  16  15
38  ...      4        3      2     1     1      5        2  12  12  11
39  ...      4        3      1     1     1      2        8  14  13  13
40  ...      3        3      3     1     2      3       25   7  10  11
41  ...      5        4      3     2     4      5        8  12  12  12
42  ...      4        3      3     1     1      5        2  19  18  18
43  ...      5        4      1     1     1      1        0   8   8  11
44  ...      4        3      3     2     2      5       14  10  10   9
45  ...      5        2      2     1     1      5        8   8   8   6
46  ...      2        3      5     1     4      3       12  11  12  11
47  ...      4        2      2     1     1      2        4  19  19  20
48  ...      4        3      3     2     2      5        2  15  15  14
49  ...      4        4      4     1     1      3        2   7   7   7

[50 rows x 33 columns]
Filas totales: 1044
Columnas disponibles: ['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu', 'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime', 'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery', 'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc', 'Walc', 'health', 'absences', 'G1', 'G2', 'G3']
  school sex  age address famsize Pstatus  Medu  Fedu     Mjob      Fjob  ...  \
0     GP   F   18       U     GT3       A     4     4  at_home   teacher  ...
1     GP   F   17       U     GT3       T     1     1  at_home     other  ...
2     GP   F   15       U     LE3       T     1     1  at_home     other  ...
3     GP   F   15       U     GT3       T     4     2   health  services  ...
4     GP   F   16       U     GT3       T     3     3    other     other  ...

  famrel freetime  goout  Dalc  Walc health absences  G1  G2  G3
0      4        3      4     1     1      3        6   5   6   6
1      5        3      3     1     1      3        4   5   5   6
2      4        3      2     2     3      3       10   7   8  10
3      3        2      2     1     1      5        2  15  14  15
4      4        3      2     1     2      5        4   6  10  10

[5 rows x 33 columns]

ðŸ“Š DistribuciÃ³n de Horas de Estudio:
           Frecuencia  Porcentaje
studytime
1                 317   30.363985
2                 503   48.180077
3                 162   15.517241
4                  62    5.938697

ðŸ”Ž Primeros 50 datos de studytime:
    studytime
0           2
1           2
2           2
3           3
4           2
5           2
6           2
7           2
8           2
9           2
10          2
11          3
12          1
13          2
14          3
15          1
16          3
17          2
18          1
19          1
20          2
21          1
22          2
23          2
24          3
25          1
26          1
27          1
28          2
29          2
30          2
31          2
32          2
33          2
34          1
35          1
36          3
37          3
38          3
39          1
40          2
41          1
42          2
43          1
44          2
45          2
46          2
47          4
48          2
49          2

ðŸ“Š DistribuciÃ³n de Notas Finales (G3):
          Frecuencia  Porcentaje
G3
(0, 5]            10    1.009082
(5, 10]          320   32.290616
(10, 15]         539   54.389506
(15, 20]         122   12.310797

ðŸ”Ž Primeros 50 datos de G3:
    G3
0    6
1    6
2   10
3   15
4   10
5   15
6   11
7    6
8   19
9   15
10   9
11  12
12  14
13  11
14  16
15  14
16  14
17  10
18   5
19  10
20  15
21  15
22  16
23  12
24   8
25   8
26  11
27  15
28  11
29  11
30  12
31  17
32  16
33  12
34  15
35   6
36  18
37  15
38  11
39  13
40  11
41  12
42  18
43  11
44   9
45   6
46  11
47  20
48  14
49   7

In [24]:
df_mat = pd.read_csv("ucimlrepo/student-mat.csv", sep=";")
df_por = pd.read_csv("ucimlrepo/student-por.csv", sep=";")

# Merge en base a atributos comunes
df = pd.merge(
    df_mat, df_por,
    on=["school","sex","age","address","famsize","Pstatus",
        "Medu","Fedu","Mjob","Fjob","reason","nursery","internet"]
)

print("Filas despuÃ©s del merge:", len(df))

Filas despuÃ©s del merge: 382

In [6]:
from ucimlrepo import fetch_ucirepo

# OpciÃ³n 1: usando el nombre
#student = fetch_ucirepo(name="Student Performance")

# OpciÃ³n 2: si te sale el ID (ejemplo: 320, solo de muestra)
student = fetch_ucirepo(id=320)

# Guardar en variables
X = student.data.features
y = student.data.targets

print(X.head())
print(y.head())

  school sex  age address famsize Pstatus  Medu  Fedu     Mjob      Fjob  ...  \
0     GP   F   18       U     GT3       A     4     4  at_home   teacher  ...
1     GP   F   17       U     GT3       T     1     1  at_home     other  ...
2     GP   F   15       U     LE3       T     1     1  at_home     other  ...
3     GP   F   15       U     GT3       T     4     2   health  services  ...
4     GP   F   16       U     GT3       T     3     3    other     other  ...

  higher internet  romantic  famrel  freetime goout Dalc Walc health absences
0    yes       no        no       4         3     4    1    1      3        4
1    yes      yes        no       5         3     3    1    1      3        2
2    yes      yes        no       4         3     2    2    3      3        6
3    yes      yes       yes       3         2     2    1    1      5        0
4    yes       no        no       4         3     2    1    2      5        0

[5 rows x 30 columns]
   G1  G2  G3
0   0  11  11
1   9  11  11
2  12  13  12
3  14  14  14
4  11  13  13

## List Available Datasets
### **Print a list of datasets that can be imported via `fetch_ucirepo`**

{'uci_id': 320, 'name': 'Student Performance', 'repository_url': 'https://archive.ics.uci.edu/dataset/320/student+performance', 'data_url': 'https://archive.ics.uci.edu/static/public/320/data.csv', 'abstract': 'Predict student performance in secondary education (high school). ', 'area': 'Social Science', 'tasks': ['Classification', 'Regression'], 'characteristics': ['Multivariate'], 'num_instances': 649, 'num_features': 30, 'feature_types': ['Integer'], 'demographics': ['Sex', 'Age', 'Other', 'Education Level', 'Occupation'], 'target_col': ['G1', 'G2', 'G3'], 'index_col': None, 'has_missing_values': 'no', 'missing_values_symbol': None, 'year_of_dataset_creation': 2008, 'last_updated': 'Fri Jan 05 2024', 'dataset_doi': '10.24432/C5TG7T', 'creators': ['Paulo Cortez'], 'intro_paper': {'ID': 360, 'type': 'NATIVE', 'title': 'Using data mining to predict secondary school student performance', 'authors': 'P. Cortez, A. M. G. Silva', 'venue': 'Proceedings of 5th Annual Future Business Technology Conference', 'year': 2008, 'journal': None, 'DOI': None, 'URL': 'https://www.semanticscholar.org/paper/61d468d5254730bbecf822c6b60d7d6595d9889c', 'sha': None, 'corpus': '16621299', 'arxiv': None, 'mag': None, 'acl': None, 'pmid': None, 'pmcid': None}, 'additional_info': {'summary': 'This data approach student achievement in secondary education of two Portuguese schools. The data attributes include student grades, demographic, social and school related features) and it was collected by using school reports and questionnaires. Two datasets are provided regarding the performance in two distinct subjects: Mathematics (mat) and Portuguese language (por). In [Cortez and Silva, 2008], the two datasets were modeled under binary/five-level classification and regression tasks. Important note: the target attribute G3 has a strong correlation with attributes G2 and G1. This occurs because G3 is the final year grade (issued at the 3rd period), while G1 and G2 correspond to the 1st and 2nd period grades. It is more difficult to predict G3 without G2 and G1, but such prediction is much more useful (see paper source for more details).', 'purpose': None, 'funded_by': None, 'instances_represent': None, 'recommended_data_splits': None, 'sensitive_data': None, 'preprocessing_description': None, 'variable_info': "# Attributes for both student-mat.csv (Math course) and student-por.csv (Portuguese language course) datasets:\r\n1 school - student's school (binary: 'GP' - Gabriel Pereira or 'MS' - Mousinho da Silveira)\r\n2 sex - student's sex (binary: 'F' - female or 'M' - male)\r\n3 age - student's age (numeric: from 15 to 22)\r\n4 address - student's home address type (binary: 'U' - urban or 'R' - rural)\r\n5 famsize - family size (binary: 'LE3' - less or equal to 3 or 'GT3' - greater than 3)\r\n6 Pstatus - parent's cohabitation status (binary: 'T' - living together or 'A' - apart)\r\n7 Medu - mother's education (numeric: 0 - none,  1 - primary education (4th grade), 2 Ã¢â‚¬â€œ 5th to 9th grade, 3 Ã¢â‚¬â€œ secondary education or 4 Ã¢â‚¬â€œ higher education)\r\n8 Fedu - father's education (numeric: 0 - none,  1 - primary education (4th grade), 2 Ã¢â‚¬â€œ 5th to 9th grade, 3 Ã¢â‚¬â€œ secondary education or 4 Ã¢â‚¬â€œ higher education)\r\n9 Mjob - mother's job (nominal: 'teacher', 'health' care related, civil 'services' (e.g. administrative or police), 'at_home' or 'other')\r\n10 Fjob - father's job (nominal: 'teacher', 'health' care related, civil 'services' (e.g. administrative or police), 'at_home' or 'other')\r\n11 reason - reason to choose this school (nominal: close to 'home', school 'reputation', 'course' preference or 'other')\r\n12 guardian - student's guardian (nominal: 'mother', 'father' or 'other')\r\n13 traveltime - home to school travel time (numeric: 1 - <15 min., 2 - 15 to 30 min., 3 - 30 min. to 1 hour, or 4 - >1 hour)\r\n14 studytime - weekly study time (numeric: 1 - <2 hours, 2 - 2 to 5 hours, 3 - 5 to 10 hours, or 4 - >10 hours)\r\n15 failures - number of past class failures (numeric: n if 1<=n<3, else 4)\r\n16 schoolsup - extra educational support (binary: yes or no)\r\n17 famsup - family educational support (binary: yes or no)\r\n18 paid - extra paid classes within the course subject (Math or Portuguese) (binary: yes or no)\r\n19 activities - extra-curricular activities (binary: yes or no)\r\n20 nursery - attended nursery school (binary: yes or no)\r\n21 higher - wants to take higher education (binary: yes or no)\r\n22 internet - Internet access at home (binary: yes or no)\r\n23 romantic - with a romantic relationship (binary: yes or no)\r\n24 famrel - quality of family relationships (numeric: from 1 - very bad to 5 - excellent)\r\n25 freetime - free time after school (numeric: from 1 - very low to 5 - very high)\r\n26 goout - going out with friends (numeric: from 1 - very low to 5 - very high)\r\n27 Dalc - workday alcohol consumption (numeric: from 1 - very low to 5 - very high)\r\n28 Walc - weekend alcohol consumption (numeric: from 1 - very low to 5 - very high)\r\n29 health - current health status (numeric: from 1 - very bad to 5 - very good)\r\n30 absences - number of school absences (numeric: from 0 to 93)\r\n\r\n# these grades are related with the course subject, Math or Portuguese:\r\n31 G1 - first period grade (numeric: from 0 to 20)\r\n31 G2 - second period grade (numeric: from 0 to 20)\r\n32 G3 - final grade (numeric: from 0 to 20, output target)", 'citation': None}}
          name     role         type      demographic  \
0       school  Feature  Categorical             None
1          sex  Feature       Binary              Sex
2          age  Feature      Integer              Age
3      address  Feature  Categorical             None
4      famsize  Feature  Categorical            Other
5      Pstatus  Feature  Categorical            Other
6         Medu  Feature      Integer  Education Level
7         Fedu  Feature      Integer  Education Level
8         Mjob  Feature  Categorical       Occupation
9         Fjob  Feature  Categorical       Occupation
10      reason  Feature  Categorical             None
11    guardian  Feature  Categorical             None
12  traveltime  Feature      Integer             None
13   studytime  Feature      Integer             None
14    failures  Feature      Integer             None
15   schoolsup  Feature       Binary             None
16      famsup  Feature       Binary             None
17        paid  Feature       Binary             None
18  activities  Feature       Binary             None
19     nursery  Feature       Binary             None
20      higher  Feature       Binary             None
21    internet  Feature       Binary             None
22    romantic  Feature       Binary             None
23      famrel  Feature      Integer             None
24    freetime  Feature      Integer             None
25       goout  Feature      Integer             None
26        Dalc  Feature      Integer             None
27        Walc  Feature      Integer             None
28      health  Feature      Integer             None
29    absences  Feature      Integer             None
30          G1   Target  Categorical             None
31          G2   Target  Categorical             None
32          G3   Target      Integer             None

                                          description units missing_values
0   student's school (binary: 'GP' - Gabriel Perei...  None             no
1   student's sex (binary: 'F' - female or 'M' - m...  None             no
2              student's age (numeric: from 15 to 22)  None             no
3   student's home address type (binary: 'U' - urb...  None             no
4   family size (binary: 'LE3' - less or equal to ...  None             no
5   parent's cohabitation status (binary: 'T' - li...  None             no
6   mother's education (numeric: 0 - none,  1 - pr...  None             no
7   father's education (numeric: 0 - none,  1 - pr...  None             no
8   mother's job (nominal: 'teacher', 'health' car...  None             no
9   father's job (nominal: 'teacher', 'health' car...  None             no
10  reason to choose this school (nominal: close t...  None             no
11  student's guardian (nominal: 'mother', 'father...  None             no
12  home to school travel time (numeric: 1 - <15 m...  None             no
13  weekly study time (numeric: 1 - <2 hours, 2 - ...  None             no
14  number of past class failures (numeric: n if 1...  None             no
15      extra educational support (binary: yes or no)  None             no
16     family educational support (binary: yes or no)  None             no
17  extra paid classes within the course subject (...  None             no
18    extra-curricular activities (binary: yes or no)  None             no
19        attended nursery school (binary: yes or no)  None             no
20  wants to take higher education (binary: yes or...  None             no
21        Internet access at home (binary: yes or no)  None             no
22   with a romantic relationship (binary: yes or no)  None             no
23  quality of family relationships (numeric: from...  None             no
24  free time after school (numeric: from 1 - very...  None             no
25  going out with friends (numeric: from 1 - very...  None             no
26  workday alcohol consumption (numeric: from 1 -...  None             no
27  weekend alcohol consumption (numeric: from 1 -...  None             no
28  current health status (numeric: from 1 - very ...  None             no
29  number of school absences (numeric: from 0 to 93)  None             no
30         first period grade (numeric: from 0 to 20)  None             no
31        second period grade (numeric: from 0 to 20)  None             no
32  final grade (numeric: from 0 to 20, output tar...  None             no

In [ ]:
# Dimensiones del dataset
print("NÃºmero de estudiantes:", X.shape[0])
print("NÃºmero de variables:", X.shape[1])

# Tipos de datos
print("\nTipos de datos:")
print(X.dtypes.head())

# EstadÃ­sticas descriptivas bÃ¡sicas
print("\nEstadÃ­sticas descriptivas:")
print(y.describe())

NÃºmero de estudiantes: 649
NÃºmero de variables: 30

Tipos de datos:
school     object
sex        object
age         int64
address    object
famsize    object
dtype: object

EstadÃ­sticas descriptivas:
               G1          G2          G3
count  649.000000  649.000000  649.000000
mean    11.399076   11.570108   11.906009
std      2.745265    2.913639    3.230656
min      0.000000    0.000000    0.000000
25%     10.000000   10.000000   10.000000
50%     11.000000   11.000000   12.000000
75%     13.000000   13.000000   14.000000
max     19.000000   19.000000   19.000000

In [7]:
# Dimensiones del dataset
print("NÃºmero de estudiantes:", X.shape[0])
print("NÃºmero de variables:", X.shape[1])

# Tipos de datos
print("\nTipos de datos:")
print(X.dtypes.head())

# EstadÃ­sticas descriptivas bÃ¡sicas
print("\nEstadÃ­sticas descriptivas:")
print(y.describe())

NÃºmero de estudiantes: 649
NÃºmero de variables: 30

Tipos de datos:
school     object
sex        object
age         int64
address    object
famsize    object
dtype: object

EstadÃ­sticas descriptivas:
               G1          G2          G3
count  649.000000  649.000000  649.000000
mean    11.399076   11.570108   11.906009
std      2.745265    2.913639    3.230656
min      0.000000    0.000000    0.000000
25%     10.000000   10.000000   10.000000
50%     11.000000   11.000000   12.000000
75%     13.000000   13.000000   14.000000
max     19.000000   19.000000   19.000000

In [8]:
list_available_datasets()
list_available_datasets(filter='aim-ahead')   # only list datasets for AIM-AHEAD project
list_available_datasets(search='diabe')

-------------------------------------
The following datasets are available:
-------------------------------------
Dataset Name                                                                            ID
------------                                                                            --
Abalone                                                                                 1
Adult                                                                                   2
Annealing                                                                               3
Audiology (Standardized)                                                                8
Auto MPG                                                                                9
Automobile                                                                              10
Balance Scale                                                                           12
Balloons                                                                                13
Breast Cancer                                                                           14
Breast Cancer Wisconsin (Original)                                                      15
Breast Cancer Wisconsin (Prognostic)                                                    16
Breast Cancer Wisconsin (Diagnostic)                                                    17
Pittsburgh Bridges                                                                      18
Car Evaluation                                                                          19
Census Income                                                                           20
Chess (King-Rook vs. King-Pawn)                                                         22
Chess (King-Rook vs. King)                                                              23
Connect-4                                                                               26
Credit Approval                                                                         27
Japanese Credit Screening                                                               28
Computer Hardware                                                                       29
Contraceptive Method Choice                                                             30
Covertype                                                                               31
Cylinder Bands                                                                          32
Dermatology                                                                             33
Echocardiogram                                                                          38
Ecoli                                                                                   39
Flags                                                                                   40
Glass Identification                                                                    42
Haberman's Survival                                                                     43
Hayes-Roth                                                                              44
Heart Disease                                                                           45
Hepatitis                                                                               46
Horse Colic                                                                             47
Image Segmentation                                                                      50
Ionosphere                                                                              52
Iris                                                                                    53
ISOLET                                                                                  54
Lenses                                                                                  58
Letter Recognition                                                                      59
Liver Disorders                                                                         60
Lung Cancer                                                                             62
Lymphography                                                                            63
Molecular Biology (Splice-junction Gene Sequences)                                      69
MONK's Problems                                                                         70
Mushroom                                                                                73
Musk (Version 1)                                                                        74
Musk (Version 2)                                                                        75
Nursery                                                                                 76
Page Blocks Classification                                                              78
Optical Recognition of Handwritten Digits                                               80
Pen-Based Recognition of Handwritten Digits                                             81
Post-Operative Patient                                                                  82
Primary Tumor                                                                           83
Servo                                                                                   87
Shuttle Landing Control                                                                 88
Solar Flare                                                                             89
Soybean (Large)                                                                         90
Soybean (Small)                                                                         91
Challenger USA Space Shuttle O-Ring                                                     92
Spambase                                                                                94
SPECT Heart                                                                             95
SPECTF Heart                                                                            96
Tic-Tac-Toe Endgame                                                                     101
Congressional Voting Records                                                            105
Waveform Database Generator (Version 1)                                                 107
Wine                                                                                    109
Yeast                                                                                   110
Zoo                                                                                     111
US Census Data (1990)                                                                   116
Census-Income (KDD)                                                                     117
El Nino                                                                                 122
Statlog (Australian Credit Approval)                                                    143
Statlog (German Credit Data)                                                            144
Statlog (Heart)                                                                         145
Statlog (Landsat Satellite)                                                             146
Statlog (Image Segmentation)                                                            147
Statlog (Shuttle)                                                                       148
Statlog (Vehicle Silhouettes)                                                           149
Connectionist Bench (Sonar, Mines vs. Rocks)                                            151
Cloud                                                                                   155
Poker Hand                                                                              158
MAGIC Gamma Telescope                                                                   159
Mammographic Mass                                                                       161
Forest Fires                                                                            162
Concrete Compressive Strength                                                           165
Ozone Level Detection                                                                   172
Parkinsons                                                                              174
Blood Transfusion Service Center                                                        176
Communities and Crime                                                                   183
Acute Inflammations                                                                     184
Wine Quality                                                                            186
Parkinsons Telemonitoring                                                               189
Cardiotocography                                                                        193
Steel Plates Faults                                                                     198
Communities and Crime Unnormalized                                                      211
Vertebral Column                                                                        212
Bank Marketing                                                                          222
ILPD (Indian Liver Patient Dataset)                                                     225
Skin Segmentation                                                                       229
Individual Household Electric Power Consumption                                         235
Energy Efficiency                                                                       242
Fertility                                                                               244
ISTANBUL STOCK EXCHANGE                                                                 247
User Knowledge Modeling                                                                 257
EEG Eye State                                                                           264
Banknote Authentication                                                                 267
Gas Sensor Array Drift at Different Concentrations                                      270
Bike Sharing                                                                            275
Thoracic Surgery Data                                                                   277
Airfoil Self-Noise                                                                      291
Wholesale customers                                                                     292
Combined Cycle Power Plant                                                              294
Diabetes 130-US Hospitals for Years 1999-2008                                           296
Tennis Major Tournament Match Statistics                                                300
Dow Jones Index                                                                         312
Student Performance                                                                     320
Phishing Websites                                                                       327
Diabetic Retinopathy Debrecen                                                           329
Online News Popularity                                                                  332
Chronic Kidney Disease                                                                  336
Mice Protein Expression                                                                 342
Default of Credit Card Clients                                                          350
Online Retail                                                                           352
Occupancy Detection                                                                     357
Air Quality                                                                             360
Polish Companies Bankruptcy                                                             365
Dota2 Games Results                                                                     367
Facebook Metrics                                                                        368
HTRU2                                                                                   372
Drug Consumption (Quantified)                                                           373
Appliances Energy Prediction                                                            374
Website Phishing                                                                        379
YouTube Spam Collection                                                                 380
Beijing PM2.5                                                                           381
Cervical Cancer (Risk Factors)                                                          383
Stock Portfolio Performance                                                             390
Sales Transactions Weekly                                                               396
Daily Demand Forecasting Orders                                                         409
Autistic Spectrum Disorder Screening Data for Children                                  419
Autism Screening Adult                                                                  426
Absenteeism at work                                                                     445
Breast Cancer Coimbra                                                                   451
Drug Reviews (Druglib.com)                                                              461
Drug Reviews (Drugs.com)                                                                462
Superconductivty Data                                                                   464
Student Academics Performance                                                           467
Online Shoppers Purchasing Intention Dataset                                            468
Electrical Grid Stability Simulated Data                                                471
Real Estate Valuation                                                                   477
Travel Reviews                                                                          484
Travel Review Ratings                                                                   485
Facebook Live Sellers in Thailand                                                       488
Metro Interstate Traffic Volume                                                         492
Hepatitis C Virus (HCV) for Egyptian patients                                           503
Heart Failure Clinical Records                                                          519
Early Stage Diabetes Risk Prediction                                                    529
Pedestrians in Traffic                                                                  536
Cervical Cancer Behavior Risk                                                           537
Estimation of Obesity Levels Based On Eating Habits and Physical Condition              544
Rice (Cammeo and Osmancik)                                                              545
Algerian Forest Fires                                                                   547
Gas Turbine CO and NOx Emission Data Set                                                551
Apartment for Rent Classified                                                           555
Seoul Bike Sharing Demand                                                               560
Iranian Churn                                                                           563
Bone marrow transplant: children                                                        565
COVID-19 Surveillance                                                                   567
HCV data                                                                                571
Taiwanese Bankruptcy Prediction                                                         572
Myocardial infarction complications                                                     579
Student Performance on an Entrance Examination                                          582
Gender by Name                                                                          591
Productivity Prediction of Garment Employees                                            597
AI4I 2020 Predictive Maintenance Dataset                                                601
Dry Bean                                                                                602
In-Vehicle Coupon Recommendation                                                        603
Predict Students' Dropout and Academic Success                                          697
Auction Verification                                                                    713
NATICUSdroid (Android Permissions)                                                      722
Toxicity                                                                                728
DARWIN                                                                                  732
Accelerometer Gyro Mobile Phone                                                         755
Glioma Grading Clinical and Mutation Features                                           759
Multivariate Gait Data                                                                  760
Land Mines                                                                              763
Single Elder Home Monitoring: Gas and Position                                          799
Sepsis Survival Minimal Clinical Records                                                827
Secondary Mushroom                                                                      848
Power Consumption of Tetouan City                                                       849
Raisin                                                                                  850
Steel Industry Energy Consumption                                                       851
Higher Education Students Performance Evaluation                                        856
Risk Factor Prediction of Chronic Kidney Disease                                        857
Maternal Health Risk                                                                    863
Room Occupancy Estimation                                                               864
Cirrhosis Patient Survival Prediction                                                   878
SUPPORT2                                                                                880
National Health and Nutrition Health Survey 2013-2014 (NHANES) Age Prediction Subset    887
AIDS Clinical Trials Group Study 175                                                    890
CDC Diabetes Health Indicators                                                          891
Recipe Reviews and User Feedback                                                        911
Forty Soybean Cultivars from Subsequent Harvests                                        913
Differentiated Thyroid Cancer Recurrence                                                915
Infrared Thermography Temperature                                                       925
National Poll on Healthy Aging (NPHA)                                                   936
Regensburg Pediatric Appendicitis                                                       938
RT-IoT2022                                                                              942
PhiUSIIL Phishing URL (Website)                                                         967

-----------------------------------------------
The following aim-ahead datasets are available:
-----------------------------------------------
Dataset Name                                                                            ID     Prediction Task
------------                                                                            --     ---------------
Heart Disease                                                                           45     Predict presence/absence of heart disease

### **Should not work for datasets that are not part of the list**

In [5]:
try:
    fetch_ucirepo(name='defungi')
    # # test invalid inputs
    # fetch_ucirepo(name='heart diseaseeeee') 
    # fetch_ucirepo(id=10000)
except Exception as e:
    print(e)

-------------------------------------
The following datasets are available:
-------------------------------------
Dataset Name                                             ID
------------                                             --
Heart Disease                                            45
Parkinsons Telemonitoring                                189
Thoracic Surgery Data                                    277
Diabetes 130-US hospitals for years 1999-2008            296
Diabetic Retinopathy Debrecen                            329
HCV data                                                 571
Myocardial infarction complications                      579
Glioma Grading Clinical and Mutation Features Dataset    759
Sepsis Survival Minimal Clinical Records                 827

"iris" dataset (id=53) exists in the repository, but is not available for import.

## **Import dataset by ID**

In [3]:
sepsis = fetch_ucirepo(id=827)

### **Metadata**

In [8]:
pprint.pp(sepsis.metadata)

{'uci_id': 827,
 'name': 'Sepsis Survival Minimal Clinical Records',
 'repository_url': 'https://archive.ics.uci.edu/dataset/827/sepsis+survival+minimal+clinical+records',
 'data_url': 'https://archive.ics.uci.edu/static/public/827/data.csv',
 'abstract': 'This dataset collection contains minimal health records of '
             '110,204 admissions (primary cohort), 19,051 admissions (study '
             'cohort), and 137 admissions (validation cohort) of patients who '
             'had sepsis.',
 'area': 'Life Science',
 'tasks': ['Classification'],
 'characteristics': ['Multivariate'],
 'num_instances': 110341,
 'num_features': 3,
 'attribute_types': ['Integer'],
 'target_col': ['hospital_outcome_1alive_0dead'],
 'index_col': None,
 'has_missing_values': 'no',
 'missing_values_symbol': None,
 'year_of_dataset_creation': 2020,
 'last_updated': 'Wed Aug 02 2023',
 'dataset_doi': '10.24432/C53C8N',
 'creators': ['Davide Chicco', 'Giuseppe Jurman'],
 'intro_paper': {'title': 'Survival prediction of patients with sepsis from '
                          'age, sex, and septic episode number alone',
                 'authors': 'D. Chicco, Giuseppe Jurman',
                 'published_in': 'Scientific Reports',
                 'year': 2020,
                 'url': 'https://www.semanticscholar.org/paper/423a47a81777e46430b6ae463e3f39574bfa780d',
                 'doi': None,
                 '__class__': <class 'ucimlrepo.dotdict.dotdict'>},
 'additional_info': {'summary': 'Primary cohort from Norway:\n'
                                '4 features for 110,204 patient admissions\n'
                                'file: '
                                "'s41598-020-73558-3_sepsis_survival_primary_cohort.csv'\n"
                                '\n'
                                'Study cohort (subset of the primary cohort) '
                                'from Norway:\n'
                                '4 features for 19,051 patient admissions\n'
                                'file: '
                                "'s41598-020-73558-3_sepsis_survival_study_cohort.csv'\n"
                                '\n'
                                'Validation cohort from South Korea:\n'
                                '4 features for 137 patients\n'
                                'file: '
                                "'s41598-020-73558-3_sepsis_survival_validation_cohort.csv'",
                     'purpose': None,
                     'funded_by': None,
                     'instances_represent': None,
                     'recommended_data_splits': None,
                     'sensitive_data': None,
                     'preprocessing_description': None,
                     'software_available': None,
                     'used_for': None,
                     'attribute_info': 'Four (4) clinical features:\n'
                                       '- age_years: integer\n'
                                       '- sex_0male_1female: binary\n'
                                       '- episode_number: integer\n'
                                       '- hospital_outcome_1alive_0dead: '
                                       'boolean',
                     'citation': 'Davide Chicco, Giuseppe Jurman, Ã¢â‚¬Å“Survival '
                                 'prediction of patients with sepsis from age, '
                                 'sex, and septic episode number aloneÃ¢â‚¬\x9d. '
                                 'Scientific Reports 10, 17156 (2020)',
                     '__class__': <class 'ucimlrepo.dotdict.dotdict'>},
 '__class__': <class 'ucimlrepo.dotdict.dotdict'>}

In [13]:
sepsis.metadata.target_col

['hospital_outcome_1alive_0dead']

In [8]:
sepsis.metadata.intro_paper.title

'Survival prediction of patients with sepsis from age, sex, and septic episode number alone'

In [9]:
sepsis.metadata.additional_info.summary

"Primary cohort from Norway:\n4 features for 110,204 patient admissions\nfile: 's41598-020-73558-3_sepsis_survival_primary_cohort.csv'\n\nStudy cohort (subset of the primary cohort) from Norway:\n4 features for 19,051 patient admissions\nfile: 's41598-020-73558-3_sepsis_survival_study_cohort.csv'\n\nValidation cohort from South Korea:\n4 features for 137 patients\nfile: 's41598-020-73558-3_sepsis_survival_validation_cohort.csv'"

### **Data**
**IDs, features, and targets are included as separate dataframes, along with an "original" that combines all of them.**

In [10]:
sepsis.data.features

        age_years  sex_0male_1female  episode_number
0              21                  1               1
1              20                  1               1
2              21                  1               1
3              77                  0               1
4              72                  0               1
...           ...                ...             ...
110336         47                  0               1
110337         50                  0               1
110338         62                  0               1
110339         58                  0               1
110340         55                  1               1

[110341 rows x 3 columns]

In [23]:
sepsis.data.targets

        hospital_outcome_1alive_0dead
0                                   1
1                                   1
2                                   1
3                                   1
4                                   1
...                               ...
110336                              1
110337                              0
110338                              1
110339                              0
110340                              1

[110341 rows x 1 columns]

In [24]:
sepsis.data.ids   # this dataset no IDs

In [25]:
sepsis.data.original

,age_years,sex_0male_1female,episode_number,hospital_outcome_1alive_0dead
0,21,1,1,1
1,20,1,1,1
2,21,1,1,1
3,77,0,1,1
4,72,0,1,1
...,...,...,...,...
110336,47,0,1,1
110337,50,0,1,0
110338,62,0,1,1
110339,58,0,1,0
110340,55,1,1,1

In [26]:
sepsis.data.headers

Index(['age_years', 'sex_0male_1female', 'episode_number',
       'hospital_outcome_1alive_0dead'],
      dtype='object')

### **Variable Info**

**Displayed in a dataframe format**

In [9]:
sepsis.variables

,name,role,type,demographic,description,units,missing_values
0,age_years,Feature,Integer,None,None,None,no
1,sex_0male_1female,Feature,Binary,None,None,None,no
2,episode_number,Feature,Integer,None,None,None,no
3,hospital_outcome_1alive_0dead,Target,Binary,None,None,None,no

## Import by Name

In [27]:
glioma = fetch_ucirepo(name='glioma')
glioma.data.features

,Gender,Age_at_diagnosis,Race,IDH1,TP53,ATRX,PTEN,EGFR,CIC,MUC16,...,FUBP1,RB1,NOTCH1,BCOR,CSMD3,SMARCA4,GRIN2A,IDH2,FAT4,PDGFRA
0,0,51.30,white,1,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
1,0,38.72,white,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,0,35.17,white,1,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,32.78,white,1,1,1,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
4,0,31.51,white,1,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
834,1,77.89,white,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
835,0,85.18,white,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
836,1,77.49,white,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
837,0,63.33,white,0,1,0,0,0,0,1,...,0,1,0,0,0,0,0,0,0,0
838,0,76.61,black or african american,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [17]:
from ucimlrepo import fetch_ucirepo 
  
# fetch dataset 
iris = fetch_ucirepo(id=189) 
  
# data (as pandas dataframes) 
X = iris.data.features 
y = iris.data.targets 
  
# metadata 
print(iris.metadata) 
  
# variable information 
print(iris.variables)

{'uci_id': 189, 'name': 'Parkinsons Telemonitoring', 'repository_url': 'https://archive.ics.uci.edu/dataset/189/parkinsons+telemonitoring', 'data_url': 'https://archive.ics.uci.edu/static/public/189/data.csv', 'abstract': "Oxford Parkinson's Disease Telemonitoring Dataset", 'area': 'Life', 'tasks': ['Regression'], 'characteristics': ['Multivariate'], 'num_instances': 5875, 'num_features': 26, 'attribute_types': ['Integer', 'Real'], 'target_col': ['motor_UPDRS', 'total_UPDRS'], 'index_col': ['subject#'], 'has_missing_values': 'no', 'missing_values_symbol': None, 'year_of_dataset_creation': 2009, 'last_updated': 'Thu Aug 03 2023', 'dataset_doi': '10.24432/C5ZS3N', 'creators': ['Athanasios Tsanas', 'Max Little'], 'intro_paper': {'title': "Accurate Telemonitoring of Parkinson's Disease Progression by Noninvasive Speech Tests", 'authors': 'A. Tsanas, Max A. Little, P. McSharry, L. Ramig', 'published_in': 'IEEE Transactions on Biomedical Engineering', 'year': 2010, 'url': 'https://www.semanticscholar.org/paper/1fdf33b6d8b1bdb38866ba824c1dcaecdfb6bdd6', 'doi': None}, 'additional_info': {'summary': "This dataset is composed of a range of biomedical voice measurements from 42 people with early-stage Parkinson's disease recruited to a six-month trial of a telemonitoring device for remote symptom progression monitoring. The recordings were automatically captured in the patient's homes.\r\n\r\nColumns in the table contain subject number, subject age, subject gender, time interval from baseline recruitment date, motor UPDRS, total UPDRS, and 16 biomedical voice measures. Each row corresponds to one of 5,875 voice recording from these individuals. The main aim of the data is to predict the motor and total UPDRS scores ('motor_UPDRS' and 'total_UPDRS') from the 16 voice measures.\r\n\r\nThe data is in ASCII CSV format. The rows of the CSV file contain an instance corresponding to one voice recording. There are around 200 recordings per patient, the subject number of the patient is identified in the first column. For further information or to pass on comments, please contact Athanasios Tsanas (tsanasthanasis@gmail.com) or Max Little (littlem@physics.ox.ac.uk).\r\n\r\nFurther details are contained in the following reference -- if you use this dataset, please cite:\r\nAthanasios Tsanas, Max A. Little, Patrick E. McSharry, Lorraine O. Ramig (2009),\r\n'Accurate telemonitoring of Parkinsonâ€™s disease progression by non-invasive speech tests',\r\nIEEE Transactions on Biomedical Engineering (to appear).\r\n\r\nFurther details about the biomedical voice measures can be found in:\r\nMax A. Little, Patrick E. McSharry, Eric J. Hunter, Lorraine O. Ramig (2009), \r\n'Suitability of dysphonia measurements for telemonitoring of Parkinson's disease', \r\nIEEE Transactions on Biomedical Engineering, 56(4):1015-1022\r\n", 'purpose': None, 'funded_by': None, 'instances_represent': None, 'recommended_data_splits': None, 'sensitive_data': None, 'preprocessing_description': None, 'software_available': None, 'used_for': None, 'attribute_info': "subject# - Integer that uniquely identifies each subject\r\nage - Subject age\r\nsex - Subject gender '0' - male, '1' - female\r\ntest_time - Time since recruitment into the trial. The integer part is the number of days since recruitment. \r\nmotor_UPDRS - Clinician's motor UPDRS score, linearly interpolated\r\ntotal_UPDRS - Clinician's total UPDRS score, linearly interpolated\r\nJitter(%),Jitter(Abs),Jitter:RAP,Jitter:PPQ5,Jitter:DDP - Several measures of variation in fundamental frequency\r\nShimmer,Shimmer(dB),Shimmer:APQ3,Shimmer:APQ5,Shimmer:APQ11,Shimmer:DDA - Several measures of variation in amplitude\r\nNHR,HNR - Two measures of ratio of noise to tonal components in the voice\r\nRPDE - A nonlinear dynamical complexity measure\r\nDFA - Signal fractal scaling exponent\r\nPPE - A nonlinear measure of fundamental frequency variation \r\n", 'citation': None}}
             name     role        type demographic  \
0        subject#       ID     Integer        None
1             age  Feature     Integer         Age
2       test_time  Feature  Continuous        None
3       Jitter(%)  Feature  Continuous        None
4     Jitter(Abs)  Feature  Continuous        None
5      Jitter:RAP  Feature  Continuous        None
6     Jitter:PPQ5  Feature  Continuous        None
7      Jitter:DDP  Feature  Continuous        None
8         Shimmer  Feature  Continuous        None
9     Shimmer(dB)  Feature  Continuous        None
10   Shimmer:APQ3  Feature  Continuous        None
11   Shimmer:APQ5  Feature  Continuous        None
12  Shimmer:APQ11  Feature  Continuous        None
13    Shimmer:DDA  Feature  Continuous        None
14            NHR  Feature  Continuous        None
15            HNR  Feature  Continuous        None
16           RPDE  Feature  Continuous        None
17            DFA  Feature  Continuous        None
18            PPE  Feature  Continuous        None
19    motor_UPDRS   Target  Continuous        None
20    total_UPDRS   Target  Continuous        None
21            sex  Feature      Binary         Sex

                                          description units missing_values
0       Integer that uniquely identifies each subject  None             no
1                                         Subject age  None             no
2   Time since recruitment into the trial. The int...  None             no
3   Several measures of variation in fundamental f...  None             no
4   Several measures of variation in fundamental f...  None             no
5   Several measures of variation in fundamental f...  None             no
6   Several measures of variation in fundamental f...  None             no
7   Several measures of variation in fundamental f...  None             no
8          Several measures of variation in amplitude  None             no
9          Several measures of variation in amplitude  None             no
10         Several measures of variation in amplitude  None             no
11         Several measures of variation in amplitude  None             no
12         Several measures of variation in amplitude  None             no
13         Several measures of variation in amplitude  None             no
14  Two measures of ratio of noise to tonal compon...  None             no
15  Two measures of ratio of noise to tonal compon...  None             no
16           A nonlinear dynamical complexity measure  None             no
17                    Signal fractal scaling exponent  None             no
18  A nonlinear measure of fundamental frequency v...  None             no
19  Clinician's motor UPDRS score, linearly interp...  None             no
20  Clinician's total UPDRS score, linearly interp...  None             no
21               Subject sex '0' - male, '1' - female  None             no

In [18]:
X

,age,test_time,Jitter(%),Jitter(Abs),Jitter:RAP,Jitter:PPQ5,Jitter:DDP,Shimmer,Shimmer(dB),Shimmer:APQ3,Shimmer:APQ5,Shimmer:APQ11,Shimmer:DDA,NHR,HNR,RPDE,DFA,PPE,sex
0,72,5.6431,0.00662,0.000034,0.00401,0.00317,0.01204,0.02565,0.230,0.01438,0.01309,0.01662,0.04314,0.014290,21.640,0.41888,0.54842,0.16006,0
1,72,12.6660,0.00300,0.000017,0.00132,0.00150,0.00395,0.02024,0.179,0.00994,0.01072,0.01689,0.02982,0.011112,27.183,0.43493,0.56477,0.10810,0
2,72,19.6810,0.00481,0.000025,0.00205,0.00208,0.00616,0.01675,0.181,0.00734,0.00844,0.01458,0.02202,0.020220,23.047,0.46222,0.54405,0.21014,0
3,72,25.6470,0.00528,0.000027,0.00191,0.00264,0.00573,0.02309,0.327,0.01106,0.01265,0.01963,0.03317,0.027837,24.445,0.48730,0.57794,0.33277,0
4,72,33.6420,0.00335,0.000020,0.00093,0.00130,0.00278,0.01703,0.176,0.00679,0.00929,0.01819,0.02036,0.011625,26.126,0.47188,0.56122,0.19361,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5870,61,142.7900,0.00406,0.000031,0.00167,0.00168,0.00500,0.01896,0.160,0.00973,0.01133,0.01549,0.02920,0.025137,22.369,0.64215,0.55314,0.21367,0
5871,61,149.8400,0.00297,0.000025,0.00119,0.00147,0.00358,0.02315,0.215,0.01052,0.01277,0.01904,0.03157,0.011927,22.886,0.52598,0.56518,0.12621,0
5872,61,156.8200,0.00349,0.000025,0.00152,0.00187,0.00456,0.02499,0.244,0.01371,0.01456,0.01877,0.04112,0.017701,25.065,0.47792,0.57888,0.14157,0
5873,61,163.7300,0.00281,0.000020,0.00128,0.00151,0.00383,0.01484,0.131,0.00693,0.00870,0.01307,0.02078,0.007984,24.422,0.56865,0.56327,0.14204,0
5874,61,170.7300,0.00282,0.000021,0.00135,0.00166,0.00406,0.01907,0.171,0.00946,0.01154,0.01470,0.02839,0.008172,23.259,0.58608,0.57077,0.15336,0